@model Category



<div class="container">
    <form asp-controller="Category" asp-action="CreateCategory" method="post">
        <div>
            <div asp-validation-summary="All" style= "font-size: 23px; font-family: Arial, sans-serif;" class="text-danger" ></div>
            <label asp-for="name"></label>
            <input asp-for="name"/>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>

