@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">3333333</h1>
    <p>ds</p>
    <a asp-controller="Category" asp-action="CreateCategory">Создать категорию</a>
    <a asp-controller="Category" asp-action="EditCategory">Изменить категорию</a>
</div>