@{
    ViewData["Title"] = "Home";
}

<!-- Кнопки "Создать дп" и "Открыть дп" -->
<div style="text-align: center; margin-top: 20px;">
    <a asp-controller="Dp" asp-action="" class="btn btn-primary">Создать дополнительный параметр</a>
    <button class="btn btn-primary" onclick="document.getElementById('myModal').style.display='block'">Открыть дополнительный параметр</button>
</div>
