@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Вы можете настроить категорию под себя и создавать в ней задачи</h1>
    <a asp-controller="Category" asp-action="CreateCategory" class="btn btn-primary">Создать дополнительный параметр</a>
</div>
